@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

:root {
    --fonte-titulo: 'Calistoga';
    --fonte-texto: 'Raleway';
    --cor-fonte-titulo: #444444;
    
    --cor-gradiente: linear-gradient(0deg, rgba(250,207,157,1) 0%, rgba(252,240,221,1) 50%, rgba(191,218,230,1) 100%);
    --cor-datas: #DF9010;
    --cor-principal: #2E7BA2; 
}

.footer-container{
    max-width: 100%;
    padding: 16px 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
}


.footer-right {
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 1em;
    color: var(--cor-fonte-titulo);
    line-height: 32px;

    padding: 32px;
}

.logo {
    height: 60px;
    width: 233.9px;
    height: 64px;
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 1em;
    color: var(--cor-fonte);
}