@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

:root {
    --fonte-titulo: 'Calistoga', cursive;
    --fonte-texto: 'Raleway', sans-serif;
    --cor-fonte-titulo: #444444;
    
    --cor-gradiente: linear-gradient(0deg, #facf9d 0%, #fcf0dd 50%, #bfdae6 100%);
    --cor-datas: #DF9010;
    --cor-principal: #2E7BA2; 
}

/*FOOTER*/ 
footer {
    margin-top: 32px;
}

footer p, 
footer ul {
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--cor-fonte-titulo);
    line-height: 32px;
    
}
.footer-container{
    background-color: #FACF9D;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.right-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.logo {
    height: 60px;
    width: 218px;
    height: 64px;
}
.redes-sociais-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-align: center;
    
}
.icon-redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/*MEDIA QUERIES*/ 
@media screen and (min-width: 768px) {
    .redes-sociais-container {
        flex-direction: row;
    }
    .left-footer {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .footer-container {
        flex-direction: row;
        align-items: center;
        padding: 32px 64px;

    }
    .left-footer {
        width: 50%;
        padding-left: 32px;
        text-align: left;
    }
    .right-footer {
        position: absolute;
        text-align: left;
        flex-direction: column;
        right: 64px;
    }
    .redes-sociais-container {
        justify-content: start;
}
}