@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

header {
    background-color: #2E7BA2;
}
.header-container {
	max-width: 100%;
    padding: 1.6em 5em;
}
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header img {
    height: 60px;
}

.nav-menu ul {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    color: white;
}
.nav-menu li {
    display: inline;
}
.nav-menu a {
    display: inline-block;
    font-weight: 600;
    padding-left: 32px;
}
