@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

:root {
    --fonte-titulo: 'Calistoga', cursive;
    --fonte-texto: 'Raleway', sans-serif;
    --cor-fonte-titulo: #444444;
    
    --cor-gradiente: linear-gradient(0deg, rgba(250,207,157,1) 0%, rgba(252,240,221,1) 50%, rgba(191,218,230,1) 100%);
    --cor-datas: #DF9010;
    --cor-principal: #2E7BA2; 
}

/*PAGE GRADIENT*/
body {
    background: var(--cor-gradiente);
}
/*BANNER*/
.top-banner {
    width: 100%;
    position: relative;
    text-align: center;
    height: 380px;
}
.top-banner img {
    opacity: 0.3;
    object-fit: cover;
    width: 100%;
    height: 380px;
    border: 0;
}
.top-banner h1 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 3.8em;
    align-content: center;
    color: var(--cor-fonte-titulo);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-banner img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
/*SOBRE*/
.sobre {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 58px 64px;
    gap: 48px;

}

.sobre img {
    object-fit: cover;
    width: 100%;
    height: 320px;
    border-radius: 10px;
}

.sobre-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 80%;
}
.sobre-info h4 {
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 2em;
    color: var(--cor-fonte-titulo);
    text-align: center;
    line-height: 38px;
}
.sobre-info p {
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--cor-fonte-titulo);
    text-align: center;
    line-height: 30px;
}
.sobre-info button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 16px;

    background-color: var(--cor-principal);
    height: 55px;
    border-radius: 16px;
    box-shadow: 4px 4px 0px 0px #444444;

    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    text-align: center;
}
/*LINE-UP*/
.lineup h2 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 2.8em;
    color: var(--cor-fonte-titulo);
    line-height: 80px;
    text-align: center;
    display: block;
    padding: 32px 120px;
}
/*DATA*/
.tarja-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.data-container {
    padding: 16px;
    gap: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
 
.data-container h3 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 2.2em;
    color: white;
    padding: 16px;
    text-align: center;
    background-color: var(--cor-datas);

    flex: none;
    order: 0;
    flex-grow: 0;
}

.left-line {
    border: 1px solid var(--cor-datas);
    width: 30%;
    flex: none;
    order: 0;
    flex-grow: 1;
}

.right-line {
    border: 1px solid var(--cor-datas);
    width: 30%;
    flex: none;
    order: 2;
    flex-grow: 1;
}
/*ATRACOES*/
.atracoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding-bottom: 48px;

    font-family: var(--fonte-texto);
    color: var(--cor-fonte-titulo);
    text-align: center;
}

.atracao-principal {
    font-weight: 800;
    font-size: 2.4em;
}

.atracoes-b {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;

    font-weight: 700;
    font-size: 1.8em;
}

.atracoes-c {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;

    font-weight: 600;
    font-size: 1.5em;
}

.atracoes-d {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;

    font-weight: 500;
    font-size: 1.3em;
}
