@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root {
    --fonte-titulo: 'Calistoga', cursive;
    --fonte-texto: 'Raleway', sans-serif;
    --cor-fonte-titulo: #444444;
    
    --cor-gradiente: linear-gradient(0deg, #facf9d 0%, #fcf0dd 50%, #bfdae6 100%);
    --cor-datas: #DF9010;
    --cor-principal: #2E7BA2; 
}

/*PAGE GRADIENT*/
body {
    background: var(--cor-gradiente);
}
/*BANNER*/ 
.top-banner {
    background-color: white;
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
}
.top-banner h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte-titulo);
    font-size: clamp(2.375rem, 1.725rem + 2.6vw, 4rem);
    text-align: center;
    line-height: 100%;
    position: absolute;
}
.top-banner img {
    object-fit: cover;
    opacity: 50%;
    height: 300px;
}

/*SOBRE*/
.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 32px;
}
.sobre img {
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
    height: 500px;
}
.sobre-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
}
.sobre-info h4 {
    font-family: var(--fonte-texto);
    font-weight: 700;
    font-size: 2em;
    color: var(--cor-fonte-titulo);
    text-align: center;
    line-height: 38px;
}
.sobre-info p {
    font-family: var(--fonte-texto);
    font-weight: 500;
    font-size: 1.2em;
    color: var(--cor-fonte-titulo);
    text-align: center;
    line-height: 30px;
}
.botao-ticket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 256px;
    height: 56px;
    padding: 8px 16px;

    background-color: var(--cor-principal);
    border-radius: 16px;
    box-shadow: 4px 4px 0px 0px #444444df;

    font-family: var(--fonte-texto);
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

/*LINE-UP*/
.lineup h2 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 2.8em;
    color: var(--cor-fonte-titulo);
    line-height: 80px;
    text-align: center;
    display: block;
    padding: 32px;
}
/*DATA*/
.tarja-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    gap: 32px;

    flex: none;
    order: 0;
    flex-grow: 0;

}
.data-container {
    align-self: center;
    gap: 32px;
}
.data-container h3 {
    font-family: var(--fonte-titulo);
    font-weight: 400;
    font-size: 2.2em;
    color: white;
    padding: 16px;
    text-align: center;
    background-color: var(--cor-datas);

    flex: none;
    order: 0;
    flex-grow: 0;
}
.data-container hr {
    display: none;
}

/*ATRACOES*/
.atracoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px;

    font-family: var(--fonte-texto);
    color: var(--cor-fonte-titulo);
    text-align: center;
}
.atracao-principal {
    font-weight: 800;
    font-size: 3.6em;
}

.atracoes-b {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

    font-weight: 700;
    font-size: 2.6em;
}
.atracoes-c {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

    font-weight: 600;
    font-size: 2em;
}
.atracoes-d {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 1.8em;
}

/*BANNER*/ 
.bottom-banner {
    background-color: #c08d54;
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
}
.bottom-banner img {
    object-fit: cover;
    opacity: 60%;
    height: 300px;
    filter: saturate(160%);
}

/*MEDIA QUERIES*/ 
@media screen and (min-width: 768px) {
    /*SOBRE*/
    .sobre {
        padding: 32px 64px;
    }
    .sobre img {
        height: 380px;
    }
    /*LINE-UP*/
    .lineup h2 {
        font-size: 3.4em;
    }
    /*DATA*/
    .data-container h3 {
        font-size: 3.4em;
    }
    /*ATRACOES*/
    .atracoes-b,
    .atracoes-c, 
    .atracoes-d {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 1024px) {
    .sobre {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 32px 64px;
    }
    .sobre img {
        width: 50vw;
    }
    .sobre-info {
        width: 50vw;
    }
}