@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root {
    --fonte-titulo: 'Calistoga', cursive;
    --fonte-texto: 'Raleway', sans-serif;
    --cor-fonte: #444444;
    --cor-fonte-subtitulo: #FFFFFF;
    
    --cor-gradiente: linear-gradient(0deg, #facf9d 0%, #fcf0dd 50%, #bfdae6 100%);
    --cor-datas: #DF9010;
    --cor-principal: #2E7BA2; 
    --cor-secundaria: #C8DEEF;
}

/*PAGE GRADIENT*/
body {
    background: var(--cor-gradiente);
}

/*BANNER*/
.banner {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}
.banner h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte-titulo);
    font-size: clamp(2.375rem, 1.725rem + 2.6vw, 4rem);
    text-align: center;
    line-height: 100%;
    position: absolute;
}
.banner img {
    object-fit: cover;
    mix-blend-mode: multiply;
    height: 300px;
    opacity: 40%;
}

/*CONTEUDO*/
h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte);
    font-size: 32px;
    text-align: center;
    padding: 32px;
}

#accordion {
    width: 80%;
    margin: 0 auto;
}

#accordion li {
    width: 100%;
    margin-bottom: 32px;
    background-color: white;
} 

#accordion li label {
    background-color: var(--cor-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;

    font-family: var(--fonte-texto);
    color: var(--cor-fonte-subtitulo);
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}
.content p {
    font-family: var(--fonte-texto);
    color: var(--cor-fonte);
    font-size: 16px;
    line-height: 24px;
    padding: 10px 16px;
}

.arrow-icon {
    transform: rotate(90deg);
    font-size: 16px;
}
#accordion label + input[type="radio"] {
    display: none;
}
.content {
    background-color: var(--cor-secundaria);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content {
    max-height: 500px;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 40px;
    }

    #accordion {
        max-width: 650px;
    }
}
