@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

:root {
    --fonte-titulo: 'Calistoga', cursive;
    --fonte-texto: 'Raleway', sans-serif;
    --cor-fonte: #444444;
    
    --cor-gradiente: linear-gradient(0deg, #facf9d 0%, #fcf0dd 50%, #bfdae6 100%);
    --cor-datas: #DF9010;
    --cor-principal: #2E7BA2; 
}

/*PAGE GRADIENT*/
body {
    background: var(--cor-gradiente);
}

/*BANNER*/
.banner {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}
.banner h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte);
    font-size: clamp(2.375rem, 1.725rem + 2.6vw, 4rem);
    text-align: center;
    line-height: 100%;
    position: absolute;
}
.banner img {
    object-fit: cover;
    mix-blend-mode: multiply;
    height: 300px;
    opacity: 40%;
}

/*CONTEUDO*/
h1 {
    font-family: var(--fonte-titulo);
    color: var(--cor-fonte);
    font-size: 32px;
    text-align: center;
    padding: 8px;
}
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    font-family: var(--fonte-texto);
    color: var(--cor-fonte);
    font-size: 20px;
    font-weight: 700;
    padding: 32px;
}

.formulario input,
.formulario select {
    padding: 6px;
    border-radius: 8px;
}

.nome-email {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
    width: 100%;
    max-width: 500px;
}

.ingresso-nascimento {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
    width: 100%;
    max-width: 500px;
}

.ingresso,
.nascimento {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.formulario button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 16px;
    width: 180px;
    height: 50px;
    padding: 8px;
    margin: 16px;
    background-color: var(--cor-principal);
    border-radius: 16px;
    box-shadow: 4px 4px 0px 0px #444444df;

    font-family: var(--fonte-texto);
    font-weight: 600;
    color: white;
    text-align: center;
}
.formulario button:active {
    transform: translateY(3px);
    box-shadow: 2px 2px 0px 0px #444444df;
  }

  
/*MEDIA QUERIES*/ 
@media screen and (min-width: 768px) {
    h1 {
        font-size: 34px;
        padding: 32px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 42px;
        padding: 32px;
    }

    .nome-email {
        max-width: 600px;
    }
    .ingresso-nascimento {
        justify-content: space-evenly;
        flex-direction: row;
        max-width: 600px;
    }

    .ingresso,
    .nascimento {
        width: 100%;
    }
}
